<!DOCTYPE html>
{% load static %}
<html>

<head>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <title>Add Record</title>
</head>
<body>

    <div style="display : table; width: 100%">
        <div class='titleBox'>{{ type }} Management</div>
    </div>

    <div>
        <form action={% url 'index' %} method="get" >
            {% csrf_token %}
            <button input type="submit">Back to the main</button>
        </form>
    </div>

    <div>
        <p style="color:red; font-weight:bold">{{ result }}</p>
    </div>
    <form action={% url 'csvImport' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="csv">Choose a csv:</label>
        <input type="hidden" name="type" value={{ type }}>
        <input type="file" name="csv" accept=".csv" required>
            <button input type="submit">Submit</button>
    </form>
    <p></p>
    <table class='table' border="1">
        {% for col in column %}
            <th> {{ col }} </th>
        {% endfor %}
        {% for data in datas %}
            <tr>
                {% for i in data %}
                    <td>{{i}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    

</body>
</html>
